<%= form_with model: @lobby, url: "/lobby" do |form| %>
  <% if @lobby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lobby.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
        <% @lobby.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, size: "70x5" %>
  </div>
  <div class="field">
    <%= form.date_field :date %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
