<p id="notice"><%= notice %></p>

<h1>Lobbies</h1>

<%= link_to 'New Lobby', new_lobby_path, class: "buttonlike" %>


<% @lobbies.each do |lobby| %>
  <h1><%= lobby.name %></h1>
  <h1><%= lobby.user.username%></h1>
  <p>
    <%= link_to 'Show', lobby, class: "buttonlike" %>
    <%= link_to 'Edit', edit_lobby_path(lobby), class: "buttonlike" %>
    <%= link_to 'Destroy', lobby, class: "buttonlike", method: :delete, data: { confirm: 'Are you sure?' } %>      
  </p>  
<% end %>


