<p id="notice"><%= notice %></p>

<h1>Lobbies</h1>

<%= link_to 'New Lobby', new_lobby_path, class: "buttonlike" %>

<% if user_signed_in? %>
   <% @lobbies.each do |lobby| %>
  <h1><%= lobby.name %></h1>
  <h1><%= lobby.user.username%></h1>
  <p>
    <%= link_to 'Show', lobby, class: "buttonlike" %>
    <% if lobby.users.include?(current_user) %>
      <h2>Already joined</h2>
      <%= button_to 'Leave lobby', leave_path(:lobby => lobby), method: :post%>
    <% else %>
      <%= button_to 'Join', join_path(:lobby => lobby), method: :post%>
      
    <% end %>
  </p>  
<% end %>        
<% end %>





