<header>
    <h1 class="headerHeading">Lobbynator</h1>
    <div class="_div_heading_middle">
        <% @categories.each do |cat| %>
          <button class="_btn_header after_tablet openfilters _btn_cat">
              <%= cat.name %>
          </button>
        <% end %>
    </div>
    <%=  button_to 'New Lobby', "#{new_lobby_path}", class: "_btn_header after_tablet", method: :get %>
    <nav>
        <div class="burger">
            <div class="burgerelement line1"></div>
            <div class="burgerelement line2"></div>
            <div class="burgerelement line3"></div>
        </div>
    </nav>
</header>
<ul class="nav-links">
    <li><%= link_to "Profile",  user_registration_path+"/#{current_user.id}" ,method: :get %></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <li><%=  link_to 'New Lobby', "#{new_lobby_path}", class: "till_desktop", method: :get %></li>
    <li class="till_desktop openfilters">Filters</li>
</ul>
<section class="_section_pagemeta disabled">
    <div>
        <div class="_div_flexwrap">
          <% @categories.each do |cat| %>
            <button class="_btn_header till_desktop _btn_cat2">
                <%= cat.name %>
            </button>
          <% end %>
        </div>

        <input type="text" placeholder="Filter Tags" id="filtersearch">  
        
        <% @categories.each do |cat| %>
          <div class="_div_filterlist _div_filtercategory disabled">
            <% cat.filters.each do |filter| %>
              <% if current_user.filters.include?(filter) %>
                <p class="_p_info _p_filterelement selected"><%= filter.name %></p>
              <% else %>
                <p class="_p_info _p_filterelement"><%= filter.name %></p>
              <% end %>
              
            <% end %>
          </div>
        <% end %>
        <div class="_div_filterlist" id="selectedFilters">
        </div>
    </div>
    <div class="_div_flexaround">
        <button class="_btn_filter" id="closefilters">Close</button>
        
        <%= form_with model: @lobby, url: "/applyfilters" do |form| %>  

          <div id="selectedform" class="disabled">
          <input type ="text" name="filter[]">         
          <input type ="text" name="filter[]">         
          </div>
          
          <button type="submit" class="_btn_filter" id="applyfilters">Apply</button> 
        <% end %>
    </div>
</section>
<% if @games.size == 0%>
    <% notice = "No Lobies found" %>
  <% end %>
<% if notice.present? %>
<div><p id="notice"><%= notice %></p></div>
<% end %>
<main class="_main_grid">
  
  <% @games.each do |game| %>
    <% if game.filter_image.present? %>
      <div class="_div_gridcard _div_gridcard_image">
        <%= image_tag url_for(game.filter_image) %>
      </div>
    <% end %>
        <% @lobbies.select { |l| l.filters.include?(game) }.each do |lobby| %>
        <div class="_div_gridcard">
            <div>
                <h2 class="_h2_level2"><%= lobby.name%></h2>
                <p class="_p_important"><%= lobby.date.strftime("%d.%m") %> / <%= lobby.time %></p>
                <p class="_p_text"><%= lobby.description %></p>
                <div>
                  <% lobby.filters.each do |filter| %>
                    <p class="_p_text"><%= filter.name %></p>
                  <% end %>
                </div>
            </div>
            <div class="_div_endFlex">
                <% if lobby.users.include?(current_user) %>
                  <%= button_to 'View', lobby_path(lobby), class: '_btn_big', method: :get %>
                <% else %>
                  <% if lobby.users.size >= lobby.maxplayers%>
                    <p>Lobby full</p>
                  <% else %>
                    <%= button_to 'Join', join_path(:lobby => lobby), method: :post, class: '_btn_big' %>
                  <% end %>
                <% end %>
                <p class="maxPlayer"> 
                  <%= lobby.users.size %>/<%= lobby.maxplayers %> joined
                </p>
            </div>
            
        </div>
      <% end %>
  <% end %>
  
</main>






